node_modules/
.env
.DS_Store
dist/
coverage/
.vscode/
npm/
.idea/
*.log
backend/node_modules/
backend/.env
backend/dist/
backend/coverage/
backend/.vscode/
backend/npm/
backend/.idea/
backend/*.log
backend/.DS_Store
frontend/node_modules/
frontend/.env
frontend/dist/
frontend/.vscode/
frontend/npm/
frontend/.idea/
frontend/*.log
frontend/.DS_Store
frontend/build/